@media (min-width: 1024px) {
    .menu-mobile .ti-menu {
        display: none;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {

}

@media (max-width: 739px) {
    #nav .nav-item-right {
        display: block;
        float: none;
    }

    #nav .nav-item-right li {
        width: 100%;
    }
}